.fretboard {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(7,2fr);
    width: 240px;

}

.fretcell {
    /* background-color: antiquewhite; */
    height: 120px;
    width: 100%;
}

.stringcell {
    border-right: white solid 1px;
}

.stringButtons {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: -1;
}

.bassEStingButtons {
    grid-column-start: 1;
    grid-column-end: 3;
}

.stringRadioButton {
    height: 120px;
    display: block;
    width: 100%;
}