@{
    ViewData["Title"] = "App Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ala ma kota</a>.</p>
</div>

<div class="fretboard">
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell stringcell"></div>
    <div class="fretcell"></div>

    <div class="stringButtons bassEStingButtons">
        <input class="stringRadioButton" type="radio" name="bassE" value="1">
        <input type="radio" name="bassE" value="1">
        <input type="radio" name="bassE" value="1">
        <input type="radio" name="bassE" value="1">
        <input type="radio" name="bassE" value="1">
    </div>
</div>