@{
    ViewData["Title"] = "App Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ala ma kota</a>.</p>
</div>

<div class="fretboard">
    <div class="fretboard">
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
    </div>
    

    <div class="fretboard stringButtons bassEStingButtons">
        <input class="stringRadioButton" type="radio" name="bassE" value="1">
        <input class="stringRadioButton" type="radio" name="bassE" value="2">
        <input class="stringRadioButton" type="radio" name="bassE" value="3">
        <input class="stringRadioButton" type="radio" name="bassE" value="4">
        <input class="stringRadioButton" type="radio" name="bassE" value="5">

        <input class="stringRadioButton" type="radio" name="A" value="1">
        <input class="stringRadioButton" type="radio" name="A" value="2">
        <input class="stringRadioButton" type="radio" name="A" value="3">
        <input class="stringRadioButton" type="radio" name="A" value="4">
        <input class="stringRadioButton" type="radio" name="A" value="5">

        <input class="stringRadioButton" type="radio" name="D" value="1">
        <input class="stringRadioButton" type="radio" name="D" value="2">
        <input class="stringRadioButton" type="radio" name="D" value="3">
        <input class="stringRadioButton" type="radio" name="D" value="4">
        <input class="stringRadioButton" type="radio" name="D" value="5">

        <input class="stringRadioButton" type="radio" name="G" value="1">
        <input class="stringRadioButton" type="radio" name="G" value="2">
        <input class="stringRadioButton" type="radio" name="G" value="3">
        <input class="stringRadioButton" type="radio" name="G" value="4">
        <input class="stringRadioButton" type="radio" name="G" value="5">

        <input class="stringRadioButton" type="radio" name="H" value="1">
        <input class="stringRadioButton" type="radio" name="H" value="2">
        <input class="stringRadioButton" type="radio" name="H" value="3">
        <input class="stringRadioButton" type="radio" name="H" value="4">
        <input class="stringRadioButton" type="radio" name="H" value="5">

        <input class="stringRadioButton" type="radio" name="E" value="1">
        <input class="stringRadioButton" type="radio" name="E" value="2">
        <input class="stringRadioButton" type="radio" name="E" value="3">
        <input class="stringRadioButton" type="radio" name="E" value="4">
        <input class="stringRadioButton" type="radio" name="E" value="5">
    </div>
</div>