@{
    ViewData["Title"] = "App Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ala ma kota</a>.</p>
</div>

<div class="fretboard">
    <div class="fretboard">
        <div class="fretcell unknownfret descriptioncell"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell stringcell unknownfret"></div>
        <div class="fretcell unknownfret"></div>
        <div class="fretcell nonplayed descriptioncell"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell stringcell nonplayed"></div>
        <div class="fretcell nonplayed"></div>
        <div class="fretcell zerofret descriptioncell"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell stringcell zerofret"></div>
        <div class="fretcell zerofret"></div>
        <div class="fretcell descriptioncell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell descriptioncell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell descriptioncell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell descriptioncell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
        <div class="fretcell descriptioncell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell stringcell"></div>
        <div class="fretcell"></div>
    </div>    

    <div class="fretboard stringButtons">
        <div class="stringRadioButton smallStringRadioButton">?</div>
        <div class="stringRadioButton smallStringRadioButton">X</div>
        <div class="stringRadioButton smallStringRadioButton">0</div>
        <div class="stringRadioButton">1</div>
        <div class="stringRadioButton">2</div>
        <div class="stringRadioButton">3</div>
        <div class="stringRadioButton">4</div>
        <div class="stringRadioButton">5</div>

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="bassE" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="bassE" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="bassE" value="0">
        <input class="stringRadioButton" type="radio" name="bassE" value="1">
        <input class="stringRadioButton" type="radio" name="bassE" value="2">
        <input class="stringRadioButton" type="radio" name="bassE" value="3">
        <input class="stringRadioButton" type="radio" name="bassE" value="4">
        <input class="stringRadioButton" type="radio" name="bassE" value="5">

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="A" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="A" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="A" value="0">
        <input class="stringRadioButton" type="radio" name="A" value="1">
        <input class="stringRadioButton" type="radio" name="A" value="2">
        <input class="stringRadioButton" type="radio" name="A" value="3">
        <input class="stringRadioButton" type="radio" name="A" value="4">
        <input class="stringRadioButton" type="radio" name="A" value="5">

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="D" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="D" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="D" value="0">
        <input class="stringRadioButton" type="radio" name="D" value="1">
        <input class="stringRadioButton" type="radio" name="D" value="2">
        <input class="stringRadioButton" type="radio" name="D" value="3">
        <input class="stringRadioButton" type="radio" name="D" value="4">
        <input class="stringRadioButton" type="radio" name="D" value="5">

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="G" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="G" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="G" value="0">
        <input class="stringRadioButton" type="radio" name="G" value="1">
        <input class="stringRadioButton" type="radio" name="G" value="2">
        <input class="stringRadioButton" type="radio" name="G" value="3">
        <input class="stringRadioButton" type="radio" name="G" value="4">
        <input class="stringRadioButton" type="radio" name="G" value="5">

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="H" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="H" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="H" value="0">
        <input class="stringRadioButton" type="radio" name="H" value="1">
        <input class="stringRadioButton" type="radio" name="H" value="2">
        <input class="stringRadioButton" type="radio" name="H" value="3">
        <input class="stringRadioButton" type="radio" name="H" value="4">
        <input class="stringRadioButton" type="radio" name="H" value="5">

        <input class="stringRadioButton smallStringRadioButton" type="radio" name="E" value="?">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="E" value="x">
        <input class="stringRadioButton smallStringRadioButton" type="radio" name="E" value="0">
        <input class="stringRadioButton" type="radio" name="E" value="1">
        <input class="stringRadioButton" type="radio" name="E" value="2">
        <input class="stringRadioButton" type="radio" name="E" value="3">
        <input class="stringRadioButton" type="radio" name="E" value="4">
        <input class="stringRadioButton" type="radio" name="E" value="5">
    </div>
</div>